body {
    margin: 10px;
    background-image: url('../imagenes/wall.jpg');
}

.container {
    width: 800px;
    margin: 0 auto;
}

.barra {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 700px;
    padding: 10px;
    margin: 9px 0;
    box-sizing: border-box;
}

#my_canvas {
    background: #000;
    border: #000 1px solid;
}

.boton {
    color: red;
    font-size: 40px;
    background-color: #000;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid blue;
}

.boton:hover {
    background-color: #fff;
    color: #000;
}

